// 颜色
$icolor-red: #ad6faa;
$icolor-yellow: #ebb404;
$icolor-white: #333333;

$icolor-red2: #666666;
$icolor-yellow2: #999999;
$icolor-white2: #d8d8d8;

$icolor-red3: #f1f1f1;

// 文字
$font-s36: 36px;
$font-s32: 32px;
$font-s28: 28px;
$font-s26: 26px;
$font-s20: 20px;

// 其他
